# Aplicación
APP_PORT=8080
SERVER_PORT=8080
JAVA_OPTS=-Xms256m -Xmx512m

# PostgreSQL Docker
POSTGRES_DB=turism
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# JPA / Hibernate
DDL_AUTO=update
SHOW_SQL=false

# Zona horaria
TZ=America/Lima

# pgAdmin opcional
PGADMIN_EMAIL=admin@turism.local
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050
